@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply text-white 
            font-bold
            text-xl      
            sm:text-3xl
            px-8
            py-8
            rounded-full
            shadow-2xl
            drop-shadow-2xl
            enabled:bg-orange-400
            enabled:hover:bg-orange-300
            enabled:transition
            enabled:hover:scale-110
            enabled:hover:duration-300
            disabled:bg-orange-600
            disabled:text-gray-300;
}

input {
  @apply rounded-md
            px-3
            h-10
            outline-orange-400
            text-gray-800
            text-xl
            sm:text-2xl
            selection:bg-orange-400
            selection:text-white;
}
